---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: external-secrets
    app.kubernetes.io/version: v1.0.0
    helm.sh/chart: external-secrets-1.0.0
    servicebinding.io/controller: "true"
  name: release-name-external-secrets-servicebindings
rules:
  - apiGroups:
      - external-secrets.io
    resources:
      - externalsecrets
      - pushsecrets
    verbs:
      - get
      - list
      - watch
