---
name: Publish artifacts
on:
  push:
    branches:
      - main
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
    paths-ignore:
      - .github/**
  pull_request: {}
  workflow_dispatch: {}
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write # needed to write releases
      id-token: write # needed for keyless signing
      packages: write # needed for ghcr access
    steps:
      # Login to registry
      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Tool install
      - name: Install Cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
        with:
          cosign-release: v2.6.1 # cosign v3+ will be supported only in Flux v2.8+

      - name: Install fluxcd
        uses: fluxcd/flux2/action@8454b02a32e48d775b9f563cb51fdcb1787b5b93 # v2.7.5

      # Git logic
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      # Publish OCI artifacts
      - name: Publish Flux OCI artifact to GHCR
        run: |
          flux push artifact oci://ghcr.io/a1994sc/gitops/core:$(git describe --first-parent --always --tags) \
            --path="./." \
            --source="${{ github.event.repository.html_url }}" \
            --revision="${GITHUB_REF_NAME}/${GITHUB_SHA}" \
            --annotations='org.opencontainers.image.description=Gitops core for FluxCD' \
            --annotations='org.opencontainers.image.documentation=https://github.com/a1994sc/gitops-v2'
          flux tag artifact oci://ghcr.io/a1994sc/gitops/core:$(git describe --first-parent --always --tags) --tag latest

      - name: Sign artifacts with Cosign
        env:
          COSIGN_EXPERIMENTAL: 1
        run: |-
          cosign sign ghcr.io/a1994sc/gitops/core:$(git describe --first-parent --always --tags) --yes
