---
name: Populate Renovate resources
on:
  push:
    branches:
      - "renovate/**"
permissions:
  contents: write
  id-token: write # needed for keyless signing
jobs:
  resources:
    name: Update Resources
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'renovate[bot]' }}
    steps:
      - name: Clone repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - name: Configure gitsign
        uses: chainguard-dev/actions/setup-gitsign@b479012116eacde7f895586c17b598f7ba0ee700 # v1.5.9

      - name: Update checksum
        env:
          GH_TOKEN: ${{ github.token }}
        run: |-
          ./.github/hack/update.sh

          # git push if we have a diff
          if [[ `git status --porcelain=1 | wc -l` -ne 0 ]]; then
            git add .
            git config --global user.email "<29139614+renovate[bot]@users.noreply.github.com>"
            git config --global user.name "renovate[bot]"
            git commit -am "chore(resources): updated resources files"
            git push origin ${{ github.ref_name }}
          fi
