---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: external-secrets
    namespace: external-secrets
    repo: oci://ghcr.io/external-secrets/charts
    valuesFile: values.yaml
    includeCRDs: true
    version: 1.0.0
